App_WebReferences/com/kartris/livetile/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://livetile.kartris.com/KartrisNotificationServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://livetile.kartris.com/KartrisNotificationServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://livetile.kartris.com/KartrisNotificationServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KartrisNotificationServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="KartrisNotificationServerSvc_SendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="KartrisNotificationServerSvc_SendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="KartrisNotificationServerSvc_UpdateURIandGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateURIandGetData" />
  </wsdl:message>
  <wsdl:message name="KartrisNotificationServerSvc_UpdateURIandGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateURIandGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="KartrisNotificationServerSvc_RegisterDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDevice" />
  </wsdl:message>
  <wsdl:message name="KartrisNotificationServerSvc_RegisterDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="KartrisNotificationServerSvc">
    <wsdl:operation name="SendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/SendNotification" message="tns:KartrisNotificationServerSvc_SendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/SendNotificationResponse" message="tns:KartrisNotificationServerSvc_SendNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateURIandGetData">
      <wsdl:input wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/UpdateURIandGetData" message="tns:KartrisNotificationServerSvc_UpdateURIandGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/UpdateURIandGetDataResponse" message="tns:KartrisNotificationServerSvc_UpdateURIandGetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/RegisterDevice" message="tns:KartrisNotificationServerSvc_RegisterDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KartrisNotificationServerSvc/RegisterDeviceResponse" message="tns:KartrisNotificationServerSvc_RegisterDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_KartrisNotificationServerSvc" type="tns:KartrisNotificationServerSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="http://tempuri.org/KartrisNotificationServerSvc/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateURIandGetData">
      <soap:operation soapAction="http://tempuri.org/KartrisNotificationServerSvc/UpdateURIandGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDevice">
      <soap:operation soapAction="http://tempuri.org/KartrisNotificationServerSvc/RegisterDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_KartrisNotificationServerSvc" binding="tns:BasicHttpBinding_KartrisNotificationServerSvc">
      <soap:address location="http://livetile.kartris.com/KartrisNotificationServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>