App_WebReferences/kartlic/CactusoftServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kartris.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.kartris.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kartris.com/">
      <s:element name="IssueFreeLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDomain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IssueFreeLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueFreeLicenseResult" type="tns:LicenseService" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="LicenseService">
        <s:restriction base="s:string">
          <s:enumeration value="DomainExist" />
          <s:enumeration value="LicenseIssued" />
          <s:enumeration value="LicenseNotIssued" />
          <s:enumeration value="AccessRestricted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="IssueTrialLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDomain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IssueTrialLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueTrialLicenseResult" type="tns:LicenseService" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IssueFreeLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:IssueFreeLicense" />
  </wsdl:message>
  <wsdl:message name="IssueFreeLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:IssueFreeLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="IssueTrialLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:IssueTrialLicense" />
  </wsdl:message>
  <wsdl:message name="IssueTrialLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:IssueTrialLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="CactusoftServicesSoap">
    <wsdl:operation name="IssueFreeLicense">
      <wsdl:input message="tns:IssueFreeLicenseSoapIn" />
      <wsdl:output message="tns:IssueFreeLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IssueTrialLicense">
      <wsdl:input message="tns:IssueTrialLicenseSoapIn" />
      <wsdl:output message="tns:IssueTrialLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CactusoftServicesSoap" type="tns:CactusoftServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IssueFreeLicense">
      <soap:operation soapAction="http://www.kartris.com/IssueFreeLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueTrialLicense">
      <soap:operation soapAction="http://www.kartris.com/IssueTrialLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CactusoftServicesSoap12" type="tns:CactusoftServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IssueFreeLicense">
      <soap12:operation soapAction="http://www.kartris.com/IssueFreeLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueTrialLicense">
      <soap12:operation soapAction="http://www.kartris.com/IssueTrialLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CactusoftServices">
    <wsdl:port name="CactusoftServicesSoap" binding="tns:CactusoftServicesSoap">
      <soap:address location="http://localhost:49492/Licensing/CactusoftServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CactusoftServicesSoap12" binding="tns:CactusoftServicesSoap12">
      <soap12:address location="http://localhost:49492/Licensing/CactusoftServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>